<!-- ATUALIZANDO NAVE BAR -->

<nav class="navbar navbar-expand-lg navbar-light" id="navbar">

  <!-- DIV PARA NOME E ICON -->
  <div class="d-flex">
    <!-- ICON CODE  -->
    <i class="fas fa-terminal text-black fs-18 m-o mt-1"></i>
    <!-- NOME USUARIO -->
    <p class="m-0 font-weight-bold text-black fs-18 pl-3">{{nome}}</p>
  </div>


  <!-- ICON HOME -->
  <a routerLink="/inicio"><i class="fas fa-home fs-18 m-o text-dark"></i></a>


  <!-- BOTÃO OPÇÕES -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="dropdown ">

    <img class="navbar-brand img-fluid rounded-circle" src="{{foto}}" width="50px" height="50px">

    <i class="dropdown fas fa-bars text-black fs-10 m-o" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    </i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">Editar perfil</button>
      <p class="dropdown-item" type="button"><a (click)='sair()' class="m-0 ">Sair</a></p>

    </div>
  </div>



</nav>
