<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://imgur.com/UJHDepr" alt="imagem do user" width="50px" height="50px" class="img-fluid rouded-circle">
                </li>
                <li class="nav-item pl-3">
                    <p class="m-0 font-weight-bold text-white fs-16">Nome</p>
                </li>
                <li class="nav-item pl-3 pt-3">
                  <p><i class="fas fa-edit text-white fs-10 m-o" aria-hidden="true"></i></p>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li>
                <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"></i></a>
              </li>
            </ul>
        </div>
    </div>
</nav>
