<div class="container-fluid mb-4" id="bg-color">

  <div class="row d-flex justify-content-center">
    <!-- LATERAL ESQUERDA -->
    <div class="col-md-2 mb-4 " id="caixaPerfil">

      <div class="row d-flex justify-content-center">

        <div class="col-md-10 text-center">
          <img class="navbar-brand img rounded-circle" src="{{foto}}" width="65px" height="65px">
        </div>

      </div>

      <hr class="mt-2 mb-2 ">


      <div class="col-md-12 text-center">
        <p class="m-0 text-black fs-18 ">{{nome}}</p>

        <!-- BOTAO POSTAGENS -->
        <a class="btn btn-outline-dark mb-2 d-flex justify-content-center" href="#postagens">Ver Postagens</a>
      </div>



    </div>



    <!-- MEIO -->
    <div class="col-md-4 mb-4" id="caixaMeio">
      <div class="row d-flex justify-content-center">

        <div>
          <img class="navbar-brand img-fluid rounded-circle mt-3" src="{{foto}}" width="65px" height="65px">
        </div>

        <button class="col-md-8 btn mr-1 ml-1 text-left  mb-2 mt-3" data-toggle="modal" data-target="#novaPostagem"
          id="btnPubli">
          Fazer publicação
        </button>

      </div>

    </div>

    <!-- LATERAL DIREITA -->
    <div class="col-md-2 mb-4" id="caixaDireita">
      <div class="row d-flex justify-content-center">
        <h1 class="fs-22">Seja Bem-vindo(a)!</h1>
        <h5 class="fs-18">Expresse aqui suas ideias.</h5>
      </div>

    </div>

  </div>


  <!-- PARTE DE BAIXO COM POSTAGENS E INTERAÇÕES -->
  <div class="container-fluid mb-5 mt-5" id="postagens">

    <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active text-secondary font-weight-bold" id="todasPostagens-tab" data-toggle="tab"
          href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as Postagens</a>
      </li>
      <li class="nav-item " role="presentation">
        <a class="nav-link text-secondary font-weight-bold" id="minhasPostagens-tab" data-toggle="tab"
          href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas Postagens</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link text-secondary font-weight-bold" id="postagemTema-tab" data-toggle="tab" href="#postagemTema"
          role="tab" aria-controls="postagemTema" aria-selected="false">Postagens por tema</a>
      </li>
    </ul>

    <div class="tab-content text-center" id="myTabContent">
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">
        bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</div>
      <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="postagemTema-tab">
        cccccccccccccccccccccccccccccccccccccccccccccccccccccccccc</div>
    </div>

  </div>

</div>


<!-- MODAL -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Titulo">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="" id="texto" cols="0" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Escolha um tema ou <a routerLink="/tema" data-dismiss="modal">cadastre um
                novo</a>:</label>
            <select name="tema" id="tema" class="form-control">
              <option value="">Temas</option>
            </select>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>
